# Flutter/Dart generated
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
.metadata
*.log

# IDEs
.idea/
*.iml
.vscode/
*.DS_Store

# Android
/android/.gradle/
/android/build/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/GeneratedPluginRegistrant.java
/android/.cxx/
/*.keystore
*.jks
key.properties
android/app/src/debug/
android/app/src/main/java/io/flutter/plugins/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/DerivedData/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
*.xcworkspace
*.mode1v3
*.mode2v3
*.moved-aside
**/*sync/
.sconsign.dblite
.tags*
Flutter/App.framework
Flutter/Flutter.podspec
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
ServiceDefinitions.json
profile
Icon?

# macOS
macos/Flutter/ephemeral/
macos/Runner/GeneratedPluginRegistrant.swift
macos/Runner/xcworkspace/
macos/Runner/Configs/*.xcconfig
macos/Runner/DebugProfile.entitlements
macos/Runner/Release.entitlements
macos/RunnerTests/
macos/build/

# Linux
linux/flutter/generated_plugins.cmake
linux/build/

# Windows
windows/flutter/
windows/build/

# Build outputs
build/

# Miscellaneous
*.log
*.tmp
*.swp
*.lock
*.backup
